.bc-player-SkFMX6S3_default .vjs-progress-control { visibility:hidden;display:none !important; }
.bc-player-SkFMX6S3_default .vjs-big-play-button { visibility:hidden;display:none !important; }
.bc-player-SkFMX6S3_default .vjs-control-bar { visibility:hidden;display:none !important; }
.bc-player-SkFMX6S3_default .vjs-loading-spinner { visibility:hidden;display:none !important; }
.bc-player-SkFMX6S3_default .vjs-error-display { visibility:hidden;display:none !important; }
